[data-sek-id="__nimble__0c2547f4efd9"]{padding-right:0px;margin-right:0px;margin-left:0px;margin-top:0px;}[data-sek-id="__nimble__e058712e50f6"]{background-color:#ffffff;-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;margin-top:0px;}[data-sek-id="__nimble__e058712e50f6"] .sek-module-inner > .sek-heading{font-family:'Noto Sans SC';font-size:2em;line-height:2em;color:#222222;font-weight:600;letter-spacing:3px;margin-bottom:0em;margin-top:0em;padding-top:0em;}[data-sek-id="__nimble__e16a72826c29"]{margin-bottom:12px;}[data-sek-id="__nimble__eb50c03628b0"]{background-color:#ffffff;margin-top:0.7em;}[data-sek-id="__nimble__0c47ff261047"]{background-color:#ffffff;margin-bottom:.6em;padding-right:0em;padding-left:0em;margin-right:0em;margin-top:0.6em;padding-top:0em;}[data-sek-id="__nimble__d8fa9c18b58e"]{padding-right:0em;margin-left:0em;}[data-sek-id="__nimble__987949bab185"]{padding-right:0.6em;padding-left:1em;}[data-sek-id="__nimble__6e9ebfa0824b"]{background-color:#ffffff;padding-right:1em;padding-top:0em;padding-bottom:0.6em;padding-left:1em;}[data-sek-id="__nimble__76fedb23e35f"]{background-color:#eeeeee;align-items:flex-start;-webkit-box-align:start;-ms-flex-align:start;padding-left:0em;}[data-sek-id="__nimble__e13d51d6e03d"] .sek-spacer{height:0.8em;}[data-sek-id="__nimble__abf94d971ec4"]{background-color:#eeeeee;align-items:flex-start;-webkit-box-align:start;-ms-flex-align:start;padding-left:0em;}[data-sek-id="__nimble__fc586557cd44"]{background-color:#ffffff;padding-right:0.6em;padding-left:0.6em;}[data-sek-id="__nimble__1d5b5763e8c2"]{background-color:#ffffff;padding-top:0.6em;padding-bottom:0.6em;padding-right:0.6em;margin-left:0em;padding-left:0.6em;margin-bottom:0.8em;}[data-sek-id="__nimble__a7c69408c731"]{background-color:#ffffff;padding-right:0.6em;padding-left:0.6em;}[data-sek-id="__nimble__61989e557ca8"]{background-color:#ffffff;padding-top:0.6em;padding-bottom:0.6em;padding-right:0.6em;margin-left:0em;padding-left:0.6em;margin-bottom:0.8em;}[data-sek-id="__nimble__cb5e3bff0819"]{background-color:#ffffff;padding-right:0.6em;padding-left:0.6em;}[data-sek-id="__nimble__81cd9eede960"]{background-color:#ffffff;padding-top:0.6em;padding-bottom:0.6em;padding-right:0.6em;margin-left:0em;padding-left:0.6em;margin-bottom:0.8em;}[data-sek-id="__nimble__cf314b9b618b"]{padding-left:0em;padding-right:0em;}[data-sek-id="__nimble__b450da13fea5"]{background-color:#ffffff;-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;margin-top:0em;padding-top:0.8em;padding-left:0.7em;padding-right:0.7em;padding-bottom:0.8em;}[data-sek-id="__nimble__2b916d6ff454"]{border-radius:0px 0px 0em 0px;padding-top:0em;padding-right:0em;padding-left:0em;padding-bottom:0em;}[data-sek-id="__nimble__2411b7b97175"]{background-color:#ffffff;border-radius:0px 0px 0px 0px;}@media(min-width:768px){[data-sek-id="__nimble__0c47ff261047"] .sek-sektion-inner > .sek-column[data-sek-id="__nimble__d8fa9c18b58e"]{-ms-flex: 0 0 65.8%;flex: 0 0 65.8%;max-width: 65.8%}[data-sek-id="__nimble__0c47ff261047"] .sek-sektion-inner > .sek-column[data-sek-id="__nimble__76fedb23e35f"]{-ms-flex: 0 0 1.2%;flex: 0 0 1.2%;max-width: 1.2%}[data-sek-id="__nimble__0c47ff261047"] .sek-sektion-inner > .sek-column[data-sek-id="__nimble__abf94d971ec4"]{-ms-flex: 0 0 33%;flex: 0 0 33%;max-width: 33%}}@media(max-width:767px){[data-sek-id="__nimble__0c2547f4efd9"]{margin-top:0px;}[data-sek-id="__nimble__e058712e50f6"] .sek-module-inner > .sek-heading{font-size:1.5em;}}@media(max-width:575px){[data-sek-id="__nimble__0c2547f4efd9"]{margin-top:0px;padding-top:0px;}[data-sek-id="__nimble__e058712e50f6"]{padding-top:0.2em;padding-bottom:0.2em;}[data-sek-id="__nimble__e058712e50f6"] .sek-module-inner > .sek-heading{font-size:1.0em;}[data-sek-level="location"] [data-sek-id="__nimble__0c47ff261047"]{display:none}}body {
	background-color:#eeeeee !important;
	max-width:1080px;
	margin-left:auto;
	margin-right:auto;	
}
/*de header shadow */
.tc-header:not(.header-transparent) {
		box-shadow:none;
}
/* Top Grid style */
.one-above-two  {
	margin:0.4rem;
}
.one-above-two > div >div{
	padding:0.4rem!important;
}
.one-above-two .pt-cv-mask{
	padding:0.8rem 0.8rem 0.6rem 0.8rem;
}
.one-above-two .pt-cv-title {
	height:auto !important;
	margin-bottom:0px;
}
.one-above-two .pt-cv-title > a{
	max-height:48px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	overflow:hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
	height:auto !important;
}
/*most viewd on desktop&tablet style */
div.most_viewed_desktop > div > div:first-child{
	padding-top:0.6rem;
}
div.most_viewed_desktop > div > div  {
	padding-bottom:0.5rem;
}
div.most_viewed_desktop > div > div > div{
	border-bottom:solid 1px #eee;
	padding-bottom:0.4rem;
}

div.most_viewed_desktop > div > div > div > a > img{
	width:100%;
}
div.most_viewed_desktop > div > div > div > div > span > time{
	font-style:italic;
}
div.most_viewed_desktop > div > div > div > div > span > a {
	color:#009bff;
	font-style:italic;
}
div.most_viewed_desktop > div > div > div > div > span > a:hover {
	text-decoration:underline !important;	
}
div.most_viewed_desktop > div > div > div > div > a{
	display:block;
}
	/* Tab Style */
#tab_container_952{
		margin-bottom:0px !important;
}
#tab-content_952{
	padding:0 0 0 0 !important;
}
#myTab_952{
	margin-bottom:0.8rem;
}
.wpsm_nav-tabs{
		margin:0px;
	}
.wpsm_nav-tabs > li {
 	width: 50%;
	font-weight:600;
}
/*no special one on desktop&tablet */
div.sek-section:nth-child(3){
		display:none;
}

@media (max-width: 768px) {
	/*de header bottom border */
	.tc-header:not(.header-transparent) {
	 border-bottom:none;
	}
}
@media (max-width: 767px) {
	
	div.sek-section:nth-child(3){
		display:block;
	}
	div.sek-section:nth-child(2){
		display:none;
	}
	/* Banner Grid One Above Two */
	.one-above-two .pt-cv-mask{
		padding:0.6rem 0.6rem 0.3rem 0.6rem;
		font-size:0.8rem;
	}
	.one-above-two .pt-cv-title{
		max-height:36px;
		line-height:1.4;
		overflow:hidden;
	}
	.one-above-two > div > div:nth-child(1){
		width:100%;
		height:auto;
	}
	.one-above-two > div > div:nth-child(2){
		width:50%;
		height:auto;
	}
	.one-above-two > div > div:nth-child(3){
		width:50%;
		height:auto;
	}
}
/*标签内列表样式*/
div.list_in_tab_mobile{
	margin-left:0;
	margin-right:0;
}
div.list_in_tab_mobile > div > div{
	font-size:0.8rem;
	border-bottom: solid 1px #dddddd;
	padding:14px 1px 14px 1px !important;
}
div.list_in_tab_mobile > div > div:first-child{
	padding-top:0px;
	margin-top:-8px;
}
div.list_in_tab_mobile > div > div > div > a {
	max-width:113px;
	margin-bottom:0;
}
div.list_in_tab_mobile > div > div > div> div{
	clear:none;
	display:inline;	
}
.list_in_tab_mobile .pt-cv-title{
	margin-bottom:0px !important;
}
.list_in_tab_mobile .pt-cv-title > a{
	max-height:72px;
	overflow:hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient: vertical;
}